html {
  font-size: 62.5%; /*1rem = 10px*/
  font-family: "Mulish", sans-serif;
}

body,
p {
  margin: 0;
  padding: 0;
  margin-top: 0;
  box-sizing: border-box;
}

a:link {
  text-decoration: none;
}

.wrapper {
  max-width: 144rem;
  margin: 0 auto;
  border: 1px solid black;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: #f3f6fa;
}

.nav__logo {
  margin-left: 16.5rem;
  margin-top: 2.8rem;
}

.nav__buttons {
  margin-right: 18rem;
  margin-top: 2.3rem;
  margin-bottom: 2.3rem;
}

/* SECTIONS ============================= */

.section-first {
  display: flex;
  background-color: #f3f6fa;
  padding-top: 16.4rem;
}

.section-first__box-left {
  min-width: 44.5rem;
  margin-left: 16.5rem;
}

.section-first__heading {
  font-weight: 700;
  font-size: 4.4rem;
  line-height: 5.6rem;
  letter-spacing: 0.2px;
  color: #373f41;
}

.section-first__text {
  margin-top: 4rem;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.3px;
  color: #737b7d;
  margin-bottom: 7.8rem;
}

.section-first__box-right {
  margin-right: 15rem;
  margin-left: 9.5rem;
}

.section-first__img {
  margin-bottom: 11.2rem;
}

.section-second {
  display: flex;
}

.section-second__box-left {
  margin-left: 16.5rem;
  margin-top: 15.9rem;
}

.section-second__box-right {
  margin-right: 15rem;
  margin-left: 5.5rem;
  margin-top: 18.3rem;
}

.section-second__heading {
  margin: 0;
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 4rem;
  letter-spacing: 0.1px;
  color: #373f41;
}

.section-second__box-right p {
  margin-top: 1.3rem;
  margin-bottom: 0;
}

.section-third {
  margin-left: 16.5rem;
  display: flex;
}

.section-third__box-left {
  margin-top: 8.4rem;
  margin-right: 3rem;
  width: 54rem;
}

.section-third__advantages {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5.6rem;
}

.section-third__num {
  font-weight: 800;
  font-size: 3.2rem;
  line-height: 2.2rem;
  letter-spacing: 0.3px;
  color: #3c64b1;
  margin-bottom: 1.6rem;
}

.section-third__mini-block {
  width: 25.5rem;
  margin-bottom: 4.8rem;
}

.section-third__mini-block:nth-child(odd) {
  margin-right: 3rem;
}

.section-third__text {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.2rem;
  letter-spacing: 0.3px;
  color: #737b7d;
}

.section-third__box-right {
  margin-top: 8.4rem;
  margin-bottom: 9.6rem;
}

.section-four {
  background-color: #f3f6fa;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-four__heading {
  padding-top: 6.4rem;
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 4rem;
  letter-spacing: 0.1px;
}

.section-four__text {
  margin-top: 3.2rem;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.2rem;
  letter-spacing: 0.3px;
  color: #737b7d;
  text-align: center;
  width: 54rem;
  margin-bottom: 5.6rem;
}

.section-four button {
  margin-bottom: 6.4rem;
}

.footer {
  height: 6.4rem;
  background-color: #373f41;
  color: #c3cbcd;

  display: flex;
  align-items: center;
  justify-content: center;
}

.footer p {
  margin: 0;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.6rem;
  letter-spacing: 0.2px;
}

/* LOGIN PAGE ============================*/

.login-box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 31.5rem;
}

.login-box h2 {
  margin-top: 0.8rem;
  margin-bottom: 4rem;
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.4rem;
}

.form {
  display: flex;
  flex-direction: column;
  width: 52rem;
}

.form__label {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.9rem;
  margin-bottom: 0.8rem;
}

.form__input {
  height: 4.9rem;
  border: 1px solid #e4e4e7;
  border-radius: 12px;
  padding-left: 1.6rem;
  margin-bottom: 1.2rem;
}

.form__input:focus {
  outline: 1px solid #5c73db;
}

.login-box__text {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.9rem;
  text-align: center;
}

.login-box__forget p {
  margin-top: 1.6rem;
}

.login-box__img {
  position: absolute;
  top: 55%;
  right: 37%;
  z-index: 10;
}

/* ADMIN CABINET ========================== */

.container {
  display: flex;
  max-width: 144rem;
  margin: 0 auto;
  border: 1px solid black;
}

.sidebar {
  height: 102.4rem;
  width: 25.6rem;
  background: linear-gradient(
    180deg,
    #131c55,
    rgba(19, 28, 85, 0.35),
    rgba(19, 28, 85, 0)
  );
}

.sidebar-top {
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0e1b6b;
}

.sidebar-low {
  height: 94.4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* background-image: linear-gradient(
      180deg,
      #131c55,
      rgba(19, 28, 85, 0.35),
      rgba(19, 28, 85, 0)
    ),
    url("../static/images/Sidebar-bg.png"); */
}

.sidebar-low__item {
  display: flex;
  margin-top: 3.35rem;
  margin-left: 2rem;
}

.sidebar-low__link {
  color: #fff;
  text-decoration: none;
}

.sibedar-low__img {
  margin-right: 0.8rem;
}

.sidebar-low__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}

.sidebar-low__admin {
  display: flex;
  margin-left: 2rem;
  margin-bottom: 3.4rem;
}

.admin__info {
  margin-left: 0.8rem;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}

.section-users {
  background-color: #f3f3f3;
}

.section-users__rectangle {
  background-color: #fff;
  width: 1184px;
  height: 80px;
}

.rectangle__bell {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  margin-left: 112.6rem;
}

.section-users__clients {
  font-weight: 600;
  font-size: 3.2rem;
  line-height: 3.9rem;
  margin-left: 4rem;
}

.section-users__search {
  position: relative;
}

.section-users__input {
  margin-left: 4rem;
  padding-left: 4.4rem;
  width: 110.4rem;
  height: 4.9rem;
  border: 1px solid #4763e4;
  border-radius: 10px;
}

.search-img {
  position: absolute;
  left: 6rem;
  top: 1.5rem;
}

.section-users__btn {
  margin-left: 4rem;
  margin-top: 1.6rem;
}

.section-users__users-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 1.6rem;
  margin-left: 4rem;
  width: 110.4rem;
  height: 68.1rem;
  background-color: #fff;
  border-radius: 1.2rem;
}

.table-users__heading {
  color: #a1a1aa;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.9rem;
  padding-bottom: 3.2rem;
}

/* TABLE ================ */
.table-users {
  width: 100%;
  padding-top: 3.2rem;
}

/* td,
tr,
th {
  border: 1px solid black;
} */

th {
  padding: 1.2rem 1rem;
}
th#drink {
  width: 5%;
}

th#longemail {
  width: 5%;
}

td {
  padding: 3.2rem 0.2rem;
  text-align: center;
  overflow-wrap: break-word;
}

.users-list__low-part {
  margin-left: 3.2rem;
  margin-top: 1.9rem;
  margin-bottom: 1.8rem;
  display: flex;
  justify-content: space-between;
}

.low-part__info p {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #a1a1aa;
}

.pagination__box {
  margin-right: 3.2rem;
}

.pagination__item {
  color: #27272a;
}
.pagination__item.active {
  color: #fff;
}
/* BUTTONS ================================*/

.btn {
  cursor: pointer;
  background-color: #3c64b1;
  padding: 1.2rem 1.8rem;
  color: #fff;
  border: none;
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 0.03rem;
}

.btn--reg {
  background-color: #f3f6fa;
  color: #3c64b1;
  margin-right: 2.1rem;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.btn--enter {
  width: 100%;
  background: #4763e4;
  border-radius: 12px;
}

.btn--add-client {
  background: #4763e4;
  border-radius: 10px;
}

.btn--add-drink {
  width: 8.133rem;
  height: 4.6rem;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.5rem;
  text-align: center;
  padding: 8px 10px 8px 10px;
  color: #5c73db;
  background: #ffffff;
  border: 1px solid #5c73db;
  border-radius: 1rem;
}

.btn--gift-takeaway {
  background-color: #dc2626;
  color: #fff;
  border: none;
}

.btn--pagination {
  width: 4.1rem;
  height: 3.8rem;
  background: #ffffff;
  padding: 0;
  border: 1px solid #d4d4d8;
}

.btn--pagination-active {
  background-color: #4763e4;
  color: #fff;
}

.btn--pagination-left {
  border: 1px solid #d4d4d8;
  border-radius: 6px 0px 0px 6px;
}

.btn--pagination-right {
  border: 1px solid #d4d4d8;
  border-radius: 0px 6px 6px 0px;
}

/* MEDIA ============================================================ */

@media (max-width: 1300px) {
  .nav__logo {
    margin-left: 10.5rem;
  }

  .section-first__box-left {
    margin-left: 10.5rem;
  }

  .section-first__box-right {
    margin-left: 4.5rem;
  }
}
