<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Lato:wght@400;700&family=Mulish:wght@400;500;700&family=Trispace&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/style.css" />
    <title>cabinet</title>
  </head>
  <body>
    <div class="container">
      <div class="sidebar">
        <div class="sidebar-top">
          <div class="sidebar-top__img">
            <img
              class="sidebar__logo"
              src="../static/images/logo.png"
              alt="logo"
            />
          </div>
        </div>

        <div class="sidebar-low">
          <div class="sidebar-low__item">
            <div class="sibedar-low__img">
              <img
                class="sidebar-low__pic"
                src="../static/images/People.png"
                alt="people logo"
              />
            </div>
            <div class="sidebar-low__text">
              <a href="#">Клиенты</a>
            </div>
          </div>

          <div class="sidebar-low__admin">
            <div class="admin__logo">
              <img src="../static/images/admin-pic.png" alt="admin photo" />
            </div>
            <div class="admin__info">
              <div class="admin__name">Мадина Нарышева</div>
              <div class="admin__email">admin@pochta.com</div>
            </div>
          </div>
        </div>
      </div>

      <div class="section-users">
        <div class="section-users__rectangle">
          <img
            class="rectangle__bell"
            src="../static/images/Bell.png"
            alt="bell"
          />
        </div>

        <h2 class="section-users__clients">Клиенты</h2>

        <div class="section-users__search">
          <input
            class="section-users__input"
            type="search"
            placeholder="Поиск по имени, фамилии, номеру телефона"
          />
          <img
            class="search-img"
            src="../static/images/Search-icon.png"
            alt="search icon"
          />
        </div>

        <div class="section-users__btn">
          <button class="btn btn--add-client">Добавить клиента +</button>
        </div>

        <div class="section-users__users-list">
          <div class="users-list__table-info">
            <p class="users-list__heading">Имя</p>
            <p class="users-list__heading">Фамилия</p>
            <p id="uheading" class="users-list__heading">E-mail</p>
            <p class="users-list__heading">Телефон</p>
            <p class="users-list__heading">Напитков</p>
            <p class="users-list__heading">Действия</p>
          </div>

          <div class="users-list__item-user">
            <p class="user__name">Нурсултан</p>
            <p class="user__surname">Шибутов</p>
            <p id="email" class="user__email">
              alexandesdfsdfsdfsdfsfdr.foley@gmail.com
            </p>
            <p class="user__phone">+237 6 99 88 77 66</p>
            <p id="drinks" class="user__drinks">4</p>
            <div class="user__buttons">
              <button class="btn btn--add-drink">Добавить напиток</button>
              <button class="btn btn--add-drink btn--gift-takeaway">
                Списать подарок
              </button>
            </div>
          </div>
          <div class="users-list__item-user">
            <p class="user__name">Абай</p>
            <p class="user__surname">Шибутов</p>
            <p id="email" class="user__email">alexander.foley@gmail.com</p>
            <p class="user__phone">+237 6 99 88 77 66</p>
            <p id="drinks" class="user__drinks">4</p>
            <div class="user__buttons">
              <button class="btn btn--add-drink">Добавить напиток</button>
              <button class="btn btn--add-drink btn--gift-takeaway">
                Списать подарок
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
