<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Lato:wght@400;700&family=Mulish:wght@400;500;700&family=Trispace&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="static/style.css" />
    <title>Cafe Loyalty</title>
  </head>
  <body>
    <div class="wrapper">
      <header class="header">
        <nav class="nav">
          <div class="nav__logo">
            <img src="static/images/logo.png" alt="logo" class="nav__logo-img" />
          </div>
          <div class="nav__buttons">
            <button class="btn btn--reg">Зарегистрироваться</button>
            <button class="btn btn--login">Войти</button>
          </div>
        </nav>
      </header>

      <main class="main">
        <section class="section-first">
          <div class="section-first__box-left">
            <h2 class="section-first__heading">
              Сервис лояльности для малых кофеен
            </h2>
            <p class="section-first__text">
              Технологическое решение для замены бумажных карточек. Легко и
              быстро находите карточку клиента, добавляйте напитки и отдавайте
              подарок.
            </p>
            <button class="btn btn--login">Подключиться</button>
          </div>
          <div class="section-first__box-right">
            <img src="static/images/section-1.png" alt="" class="section-first__img" />
          </div>
        </section>

        <section class="section-second">
          <div class="section-second__box-left">
            <img src="static/images/section-2.png" alt="" class="section-first__img" />
          </div>
          <div class="section-second__box-right">
            <h3 class="section-second__heading">
              Избавьтесь от бумажных карточек
            </h3>
            <p class="section-first__text">
              Если вам надоели карточки, которые постоянно теряются, либо
              копятся у кассы отнимая время сотрудников на поиски то наш сервис
              для вас. Сберегите нервы вашим сотрудникам и клиентам!
            </p>
            <p class="section-first__text">
              А как бонус вы сбережете несколько деревьев, которые не будут
              вырублены для изготовления бумажных карточек
            </p>
          </div>
        </section>

        <section class="section-third">
          <div class="section-third__box-left">
            <h3 class="section-second__heading">Как работает сервис</h3>
            <div class="section-third__advantages">
              <div class="section-third__mini-block">
                <div class="section-third__num">1.</div>
                <p class="section-third__text">
                  Клиент называет свое имя или номер
                </p>
              </div>

              <div class="section-third__mini-block">
                <div class="section-third__num">2.</div>
                <p class="section-third__text">Кассир находит его в системе</p>
              </div>

              <div class="section-third__mini-block">
                <div class="section-third__num">3.</div>
                <p class="section-third__text">
                  Кассир добавляет купленный напиток клеинту
                </p>
              </div>

              <div class="section-third__mini-block">
                <div class="section-third__num">4.</div>
                <p class="section-third__text">
                  При достижении нужного количество напитков выдает подарок
                </p>
              </div>
            </div>
          </div>
          <!-- third box-left -->
          <div class="section-third__box-right">
            <img
              src="static/images/desktop.png"
              alt="desktop"
              class="section-third__img"
            />
          </div>
        </section>

        <section class="section-four">
          <div class="section-four__heading">Хотите попробовать?</div>
          <p class="section-four__text">
            Посмотрите тестовый аккаунт кассира чтобы самостоятельно проверить
            работу сервиса
          </p>
          <button class="btn btn--login">Демо-доступ</button>
        </section>
      </main>

      <footer class="footer">
        <p class="footer__text">© Loyalcoffee. Все права защищены. 2022</p>
      </footer>
    </div>
    <!-- wrapper -->
  </body>
</html>
